<template>
    <h1>Buttons</h1>
    <button rel="button" mdc-button>Flat</button>
    <button rel="button" mdc-button="primary: true">Primary</button>
    <button rel="button" mdc-button="raised: true">Raised</button>
    <button rel="button" mdc-button="primary: true; raised: true">Primary raised</button>
    <button rel="button" mdc-button="accent: true">Accent</button>
    <button rel="button" mdc-button="primary: true; accent: true">Primary accent</button>
    <button rel="button" mdc-button="raised: true; accent: true">Raised accent</button>
    <button rel="button" mdc-button="primary: true; accent: true; raised: true">Raised primary accent</button>
</template>