.navbar {
  background-color: #3c8dbc;
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  margin-left: 230px;
  padding: 0;

  .sidebar-collapsed & {
    margin-left: 50px;
  }

  border: none;
  min-height: 50px;
  border-radius: 0;

  & .sidebar-switcher {
    float: left;
    padding: 13px 15px;
    color: #fff;
  }
}