.sidebar {
  padding-bottom: 10px;

  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {

      &.header {
        color: #4b646f;
        background: #1a2226;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
        padding: 10px 25px 10px 15px;
        font-size: 12px;

        .sidebar-collapsed & {
          display: none !important;
          -webkit-transform: translateZ(0);
        }
      }

      &.active,
      &:hover {
        > a {
          color: #fff;
          background: #1e282c;
          border-left-color: #3c8dbc;
        }
      }

      .sidebar-collapsed &:hover {
        > a > span {
          &:not(.pull-right) {
            display: block !important;
            position: absolute;
            width: 180px;
            left: 50px;
          }

          top: 0;
          margin-left: -3px;
          padding: 12px 5px 12px 20px;
          background-color: inherit;
        }
      }

      position: relative;
      margin: 0;
      padding: 0;

      > a {
        text-decoration: none;
        padding: 12px 5px 12px 15px;
        display: block;
        position: relative;
        color: #b8c7ce;
        border-left: 3px solid transparent;

        .fa {
          width: 20px;
        }

        span {
          .sidebar-collapsed & {
            display: none;
          }
        }
      }
    }
  }
}