<template>
    <nav class="navbar navbar-static-top">
        <require from="shared/components/sidebar-switcher/sidebar-switcher"></require>
        <its-shared-sidebar-switcher if.bind="menuLength > 0"></its-shared-sidebar-switcher>

        <div class="navbar-menu pull-right">
            <ul class="nav navbar-nav">
                <li class="profile-menu">
                    <require from="shared/components/navbar-profile/navbar-profile"></require>
                    <its-shared-navbar-profile></its-shared-navbar-profile>
                </li>
            </ul>
        </div>
    </nav>
</template>