@import 'base/variables';

#main-header {

  z-index: 6; // higher than drawer (5)

  .main-logo {
    padding: 16px 0;
    height: 24px;

    margin-left: 24px;

    > img {
      height: 100%;
    }
  }

  .app-title {
    color: $mdc-theme-accent;
    cursor: pointer;

    .module-switcher-icon {
      float: right;
    }
  }

  .mdc-ripple-surface {
    --mdc-ripple-fg-scale: 1.5 !important;
    height: auto;
  }
}
