<template>
    <section class="sidebar">
        <!-- <user-panel></user-panel> -->
        <ul class="sidebar-menu">
            <li class="header">Main Navigation</li>

            <li repeat.for="row of navigation" class="${row.isActive ? 'active' : ''}">
                <a href.bind="row.href">
                    <i if.bind="row.settings.icon" class="${row.settings.icon}"></i>
                    <span>${row.title}</span>
                </a>
            </li>
        </ul>
    </section>
</template>