<% var _ = require('lodash') %>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

    <% _.each(htmlWebpackPlugin.options.metadata.sheets, function(value) { %>
    <link href="<%= value %>" rel="stylesheet">
    <% }) %>

    <!-- imported CSS are concatenated and added automatically -->
</head>
<body aurelia-app="main" class="mdc-typography">
<noscript>Javascript is required</noscript>

<% _.each(htmlWebpackPlugin.options.metadata.scripts, function(value) { %>
<script src="<%= value %>"></script>
<% }) %>

<% if (htmlWebpackPlugin.options.metadata.server) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>
</body>
</html>
